# Project exclude paths
/target/
/h202_bom_map.xlsx
/package_items_bom.xlsx
/test.xlsx
/test2.xlsx
/test_repaired.xlsx

/lib/
/h334_bom_map.xlsx
/l200_bom_map.xlsx
/l300_bom_map.xlsx
/mts 380_bom_map.xlsx
/bom maps.zip
